<% layout('/flash/flash') %>

<div class="main">
  <div class="nav sticky-top">
    <div class="logo">
      <img src="/photos/Gemini_Generated_Image_bqkgnzbqkgnzbqkg-Picsart-BackgroundRemover.png" alt="">
    </div>
    <div class="menu">
      <a href="" class="hover-underline">Student</a>
      <a href="" class="hover-underline">Teacher</a>
      <a href="/repulsor/adminLogin" class="hover-underline">Institute</a>
    </div>
    <div class="signup">
      <a type="button" href="/repulsor/register" class="btn btn-outline-light">Sign Up</a>
    </div>
  </div>
</div>