<% layout('/flash/flash') %>

<div class="main">
    <div class="nav sticky-top">
  <div class="logo">
    <img src="/photos/Gemini_Generated_Image_bqkgnzbqkgnzbqkg-Picsart-BackgroundRemover.png" alt="" >
  </div>
  <div class="menu">
        <a href="">Student</a>
        <a href="">Teacher</a>
        <a href="">Institute</a>
  </div>
  <button type="button" class="btn btn-outline-light">Sign Up</button>
</div>
</div>