body {
    background-color: black !important;
    color: white !important;
}

* {
    color: rgb(255, 255, 255);

}

.sign-navbar {
    padding: 20px;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;

    button {
        margin-left: auto;
        height: 40px;
        margin-top: auto;
        margin-bottom: auto;

    }
}



.signup {
    padding: 20px 40px;
    display: flex;
    flex-direction: column;


    h1 {
        font-family: "Dancing Script", cursive;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        color: rgb(22, 22, 253);
        text-align: center;

    }

}

.inner {
    border: 1px solid #696969;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 60px;

    form {
        width: 100%;


        label {
            color: #ffffff;
            margin-top: 10px;
        }

        input,
        select {
            background-color: #757575;
        }

        option,
        optgroup {
            color: black;
        }

        textarea {
            background-color: #757575;

        }

        textarea::placeholder {
            color: #cacecf;
            font-style: italic;
            opacity: 1;

        }

        textarea:focus {
            background-color: #757575;
            color: white;
        }




    }
}

.inline {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 10px;


}


.signup-btn {
    margin-top: 40px !important;
    display: flex;
    width: 100%;
    justify-content: center;
}

.main {

    width: 100vw;
    height: 100vh;
    min-height: 640px;
    background-image: url('/photos/flat-lay-workstation-with-copy-space-laptop.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;



    .nav {
        width: 100%;
        height: 15%;
        display: flex;
        padding: 20px 40px;
        justify-content: space-between;

    }

    .logo {
        width: 13%;
        height: 100%;
        margin: 0;
        padding: 0;
    }


    img {
        width: 100%;
        height: 100%;
    }


    .menu {
        display: flex;
        align-items: center;
        gap: 40px;
        padding: 20px;

        background-color: #7575757c;
        backdrop-filter: blur(22px);
        border-radius: 30px;

        a {
            color: white;
            text-decoration: none;
            font-size: 16px;
            position: relative;
            display: inline-block;

        }
    }
}

.hover-underline::after,
.hover-underline::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #03a3b1, #00ffff);
    bottom: -5px;
    left: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease-out;
}

.hover-underline::before {
    top: -5px;
    transform-origin: left;
}

.hover-underline:hover::after,
.hover-underline:hover::before {
    transform: scaleX(1);
}