body {
    background-color: black !important;
    color: white !important;
}

* {
    color: rgb(255, 255, 255);

}

.sign-navbar {
    padding: 20px;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;

    button {
        margin-left: auto;
        height: 40px;
        margin-top: auto;
        margin-bottom: auto;

    }
}



.signup {
    padding: 20px 40px;
    display: flex;
    flex-direction: column;


    h1 {
        font-family: "Dancing Script", cursive;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        color: rgb(22, 22, 253);
        text-align: center;

    }

}

.inner {
    border: 1px solid #696969;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 60px;

    form {
        width: 100%;


        label {
            color: #ffffff;
            margin-top: 10px;
        }

        input,
        select {
            background-color: #757575;
        }

        option,
        optgroup {
            color: black;
        }

        textarea {
            background-color: #757575;

        }

        textarea::placeholder {
            color: #cacecf;
            font-style: italic;
            opacity: 1;

        }

        textarea:focus {
            background-color: #757575;
            color: white;
        }




    }
}

.inline {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 10px;


}


.signup-btn {
    margin-top: 40px !important;
    display: flex;
    width: 100%;
    justify-content: center;
}

.main {

    width: 100vw;
    height: 100vh;
    min-height: 640px;
    background-image: url('/photos/flat-lay-workstation-with-copy-space-laptop.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;



    .nav {
        width: 100%;
        height: 15%;
        display: flex;
        padding: 20px 40px;
        justify-content: space-between;

    }

    .logo {
        width: 13%;
        height: 100%;
        margin: 0;
        padding: 0;
    }


    img {
        width: 100%;
        height: 100%;
    }


    .menu {
        display: flex;
        align-items: center;
        gap: 40px;
        padding: 20px;

        background-color: #7575757c;
        backdrop-filter: blur(22px);
        border-radius: 30px;

        a {
            color: white;
            text-decoration: none;
            font-size: 16px;
            position: relative;
            display: inline-block;

        }
    }
}

.hover-underline::after,
.hover-underline::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #03a3b1, #00ffff);
    bottom: -5px;
    left: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease-out;
}

.hover-underline::before {
    top: -5px;
    transform-origin: left;
}

.hover-underline:hover::after,
.hover-underline:hover::before {
    transform: scaleX(1);
}

.login-main {
    width: 100vw;
    height: 100vh;
    background-image: url('/photos/Screenshot 2026-02-14 211024.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.login {
    width: 100%;
    padding: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    padding: 20px 60px;
    background-color: rgba(255, 255, 255, 0.23);
    backdrop-filter: blur(22px);
    width: 35%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgb(51, 49, 49);

    gap: 20px;

    h2 {
        text-align: center;
    }

}



.wave-group {
    position: relative;
    width: 100%;
    margin-top: 20px;
}

.wave-group .input {
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #515151;
    background: transparent;
}

.wave-group .input:focus {
    outline: none;
}

.wave-group .label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    display: flex;
}

.wave-group .label-char {
    transition: 0.2s ease all;
    transition-delay: calc(var(--index) * .05s);
}

.wave-group .input:focus~label .label-char,
.wave-group .input:valid~label .label-char {
    transform: translateY(-20px);
    font-size: 14px;
    color: #f3f3f5;
}

.wave-group .bar {
    position: relative;
    display: block;
    width: 200px;
}

.wave-group .bar:before,
.wave-group .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #16a0c6;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.wave-group .bar:before {
    left: 70%;
}

.wave-group .bar:after {
    right: 5%;
}

.wave-group .input:focus~.bar:before,
.wave-group .input:focus~.bar:after {
    width: 100%;
}

.login-btn {
    background: linear-gradient(180deg, #393939, #2a14c6);
    color: white !important;
}

.login-btn:hover {
    background: linear-gradient(180deg, #242424, #3119e6);
    box-shadow: 0px 0px 2px white;
}

.flex {
    display: flex !important;
    flex-direction: row !important;
    align-items: center;
    gap: 10px;
}

.flex-dropdown {
    display: flex !important;
    flex-direction: row !important;
    align-items: center;
    padding: 0 !important;
    gap: 10px;
}

.link-hover {
    li a:hover {
        background-color: #19b3dd !important;
    }
}