body {
    background-color: black !important;
    color: white !important;
}

* {
    color: rgb(255, 255, 255);

}

.sign-navbar {
    padding: 20px;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;

    button {
        margin-left: auto;
        height: 40px;
        margin-top: auto;
        margin-bottom: auto;

    }
}



.signup {
    padding: 20px 40px;
    display: flex;
    flex-direction: column;


    h1 {
        font-family: "Dancing Script", cursive;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        color: rgb(22, 22, 253);
        text-align: center;

    }

}

.inner {
    border: 1px solid #696969;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 60px;

    form {
        width: 100%;


        label {
            color: #ffffff;
            margin-top: 10px;
        }

        input,
        select {
            background-color: #757575;
        }

        option,
        optgroup {
            color: black;
        }

        textarea {
            background-color: #757575;

        }

        textarea::placeholder {
            color: #cacecf;
            font-style: italic;
            opacity: 1;

        }

        textarea:focus {
            background-color: #757575;
            color: white;
        }




    }
}

.inline {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 10px;


}


.signup-btn {
    margin-top: 40px !important;
    display: flex;
    width: 100%;
    justify-content: center;
}

.head {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.inner-head {
    font-family: "Lustria" !important;
    color: rgb(5, 169, 224) !important;
}

.inline-2 {
    display: flex;
    gap: 40px;
    width: 100%;
}

.addbtn {
    padding: 10px 15px;
    background: #757575;
    border: none;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    border-radius: 6px;
    margin-top: 20px;
}

.addbtn:hover {
    background: #00acc1;
}

.main-nav {
    display: flex;
    width: 100%;
    padding: 20px;
    background-color: #00acc1;

    .main-logo {
        width: 20%;
    }

    .main-title {
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .main-admin {
        width: 10%;
        display: flex;
        align-items: center;
        margin-left: auto;

    }

    .hams {
        width: 20px;
        background-color: white;
        height: 3px;
        border-radius: 10px;
    }



    li {
        background-color: #757575;

        a {
            color: white;
            text-decoration: none;

            &:hover {
                color: #b8b5b5;
            }
        }
    }

}

.view {
    width: 100%;
    height: 90vh;
    max-height: 720px;
    background-position: center;
    display: flex;
    flex-direction: column;
    padding-left: 40px;

}

.slogan {
    font-size: 4rem;
    width: 40px;
    line-height: 1.4;
    font-weight: bolder;
    font-style: italic;

}

.btns {

    button {
        margin-right: 40px;
        margin-left: 20px;
    }
}

.numbers {
    display: flex;
    padding: 40px 40px;
    align-items: center;
    justify-content: center;
    gap: 120px;

    .info {
        display: flex;
        height: 100%;
        align-items: center;
        gap: 10px;

        h1 {
            font-size: 4rem;
            font-weight: bold;
        }

        p {
            width: 120px;
            font-weight: bold;
        }
    }

    .vertical-line {
        width: 2px;
        background-color: white;
        color: white;
        height: 70px;
    }
}