body {
    background-color: black !important;
    color: white !important;
}

* {
    color: rgb(255, 255, 255);

}

.sign-navbar {
    padding: 20px;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;

    button {
        margin-left: auto;
        height: 40px;
        margin-top: auto;
        margin-bottom: auto;

    }
}



.signup {
    padding: 20px 40px;
    display: flex;
    flex-direction: column;


    h1 {
        font-family: "Dancing Script", cursive;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        color: rgb(22, 22, 253);
        text-align: center;

    }

}

.inner {
    border: 1px solid #696969;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 60px;

    form {
        width: 100%;


        label {
            color: #ffffff;
            margin-top: 10px;
        }

        input,
        select {
            background-color: #757575;
        }

        option,
        optgroup {
            color: black;
        }

        textarea {
            background-color: #757575;
            
        }

        textarea::placeholder {
            color: #cacecf;
            font-style: italic;
            opacity: 1;
           
        }

        textarea:focus {
            background-color: #757575;
            color: white;
        }




    }
}

.inline {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 10px;


}


.signup-btn {
    margin-top: 40px !important;
    display: flex;
    width: 100%;
    justify-content: center;
}

.head {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.inner-head {
    font-family: "Lustria" !important;
    color: rgb(5, 169, 224) !important;
}

.inline-2 {
    display: flex;
    gap: 40px;
    width: 100%;
}

.addbtn {
      padding: 10px 15px;
      background: #757575;
      border: none;
      color: #ffffff;
      font-weight: bold;
      cursor: pointer;
      border-radius: 6px;
      margin-top: 20px;
    }

    .addbtn:hover {
      background: #00acc1;
    }