body {
    background-color: #ffffff !important;
    color: white;
}

* {
    color: rgb(0, 0, 0);

}

.signup {
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        font-family: "IM Fell French Canon", serif;
        font-weight: 400;
        font-style: normal;

    }

}

.inner {
    border: 1px solid #696969;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 120px;

    form {
        width: 100%;
        padding-right: 120px;

        label {
            color: #000000;
            margin-top: 10px;
        }

        input,
        select {

            background-color: rgb(209, 241, 248);
        }

        option,
        optgroup {
            color: black;
        }



    }
}

.inline {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 10px;

}


.signup-btn {
    margin-top: 40px !important;
    display: flex;
    width: 100%;
    justify-content: center;
}

.web-form {
    width: 100%;
    padding: 60px;
    padding-right: 120px;
    label {
        color: #000000;
        margin-top: 10px;
    }

    input,
    select ,
    textarea {
        margin-top: 10px;
        background-color: rgb(209, 241, 248);
    }

}

.web-inner {
    border: 1px solid black;
    background-color: rgb(242, 240, 255);
    border-radius: 15px;
    padding: 20px 40px;
    margin-top: 30px;
    h6{
        margin-top:30px;
    }
}

.web-head {
    text-align: center;
    font-family: "IM Fell French Canon", serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    margin-left: auto;
    margin-right: auto;
}

.web-navbar {
    width: 100%;
    margin: 0;
    padding: 20px;
    display: flex;

}

.web-look {
    margin-top: 20px;
    margin-left: 40px;
    margin-bottom: 0;
}

