<% layout('/flash/flash') %>
<div class="sign-navbar">
  <div class="logo">
    <img src="/photos/Gemini_Generated_Image_bqkgnzbqkgnzbqkg-Picsart-BackgroundRemover.png" alt="" width="180px" height="70px">
  </div>
  <button type="button" class="btn btn-outline-light">Skip For Now</button>
</div>

<div class="signup">
  <div class="head">
    <h1>Let's Create A Web Page For You!!</h1>
    <img src="/photos/Gemini_Generated_Image_4ypngu4ypngu4ypn-removebg-preview.png" alt="" style="margin-bottom: 40px; margin: 0 auto;">
  </div>

  <div class="inner">
    <h1 class="inner-head">DESCRIBE YOUR INSTITUTE</h1>
    <form action="" method="POST">
      <label style="margin-bottom: 15px;">Write A Brief Introduction Of Your Institute (4 to 5 lines):</label>

      <textarea name="aboutBrief" placeholder="eg : Welcome to Greenland International School, where education is more than learning—it is a journey of growth, discovery, and excellence. We are committed to nurturing curious minds, strong values, and global perspectives in a supportive and inclusive environment. Through innovative teaching, dedicated educators, and a balanced curriculum, we empower students to become confident learners, responsible citizens, and future leaders ready to thrive in a rapidly changing world." style="height: 100px; width: 100%; border: 2px solid white; border-radius: 10px;"></textarea>



      <label style="margin-bottom: 15px;">Write Your Institute In Details Including Rules And regulation :</label>


      <textarea name="about" placeholder="eg : Describe Everything About Your Institute Including history , rules and regulation , past Results etc... It will have a seperate page" style="height: 400px; width: 100%; border: 2px solid white; border-radius: 10px;"></textarea>

      <div class="signup-btn">
        <button type="submit" class="btn btn-primary">Save And Next</button>
      </div>
    </form>
  </div>
</div>