<% layout('/flash/flash') %>
<div class="sign-navbar">
  <div class="logo">
    <img src="/photos/Gemini_Generated_Image_bqkgnzbqkgnzbqkg-Picsart-BackgroundRemover.png" alt="" width="180px" height="70px">
  </div>
  <button type="button" class="btn btn-outline-light">Skip For Now</button>
</div>

<div class="signup">
  <div class="head">
    <h1>Let's Create A Web Page For You!!</h1>
    <img src="/photos/Gemini_Generated_Image_4ypngu4ypngu4ypn-removebg-preview.png" alt="" style="margin-bottom: 40px; margin: 0 auto;">
  </div>

  <div class="inner">
    <h1 class="inner-head">BASIC DETAILS</h1>

    <form action="" method="POST" enctype="multipart/form-data" class="needs-validation" novalidate>
      <div class="inline">
        <div class="Institute">
          <label for="logo" style="margin-bottom: 15px;"><b>Upload Your Institute Logo :</b></label>
          <div class="input-group ">
            <input type="file" class="form-control" id="inputGroupFile02" name="logo.url" accept=".jpg , .png , .webp">
            <div class="invalid-feedback">
              please upload a valid photo in jpg
            </div>
          </div>
        </div>
        <div class="Institute">
          <label for="cover" style="margin-bottom: 15px;"><b>Upload Your Institute Cover Photo :</b></label>
          <div class="input-group">
            <input type="file" class="form-control" id="inputGroupFile02" name="cover.url" accept=".jpg , .png , .webp">
            <div class="invalid-feedback">
              please upload a valid photo in jpg
            </div>
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label for="slogan" class="form-label">Enter Your Institute's TagLine :</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" name="slogan" placeholder="eg : Where Creativity Meets Excellence">

      </div>
      <label for="logo" style="margin-bottom: 15px;"><b>Describe Your Institute in Numbers :</b></label>

      <div class="inline-2">
        <div class="mb-3">
          <label for="num1" class="form-label">Enter A Number :</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" name="num1" placeholder="Any number" required>
        </div>
        <div class="col-md-6">
          <label for="text1" class="form-label">Describe Its Importance :</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" name="text1" placeholder="eg : Result in Intermediate in 2025" required>
        </div>
      </div>
      <div class="inline-2">
        <div class="mb-3">
          <label for="num2" class="form-label">Enter A Number :</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" name="num2" placeholder="Any number" required>
        </div>
        <div class="col-md-6">
          <label for="text2" class="form-label">Describe Its Importance :</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" name="text2" placeholder="eg : Result in Intermediate in 2025" required>
        </div>
      </div>
      <div class="inline-2">
        <div class="mb-3">
          <label for="num3" class="form-label">Enter A Number :</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" name="num3" placeholder="Any number" required>
        </div>
        <div class="col-md-6">
          <label for="text3" class="form-label">Describe Its Importance :</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" name="text3" placeholder="eg : Result in Intermediate in 2025" required>
        </div>
      </div>

      <div class="signup-btn">
        <button type="submit" class="btn btn-primary">Save And Next</button>
      </div>
    </form>
  </div>
</div>