<% layout('/flash/flash') %>
<div class="login-main">
  <div class="sign-navbar">
    <div class="logo">
      <img src="/photos/Gemini_Generated_Image_bqkgnzbqkgnzbqkg-Picsart-BackgroundRemover.png" alt="" width="180px" height="70px">
    </div>
    <button type="button" class="btn btn-outline-light">Back To Home</button>
  </div>

  <div class="login">
    <div class="login-box">
      <h2>Admin Login</h2>
      <form action="/repulsor/adminLogin" method="POST">
        <!-- From Uiverse.io by AbanoubMagdy1 -->
        <div class="wave-group">
          <input required="" type="text" class="input" name="email">
          <span class="bar"></span>
          <label class="label">
            <span class="label-char" style="--index: 0">E</span>
            <span class="label-char" style="--index: 1">m</span>
            <span class="label-char" style="--index: 2">a</span>
            <span class="label-char" style="--index: 3">i</span>
            <span class="label-char" style="--index: 4">l</span>
            <span class="label-char" style="--index: 5">&nbsp;</span>
            <span class="label-char" style="--index: 6">:</span>
          </label>
        </div>
        <div class="wave-group">
          <input required="" type="password" class="input" name="password">
          <span class="bar"></span>
          <label class="label">
            <span class="label-char" style="--index: 0">P</span>
            <span class="label-char" style="--index: 1">a</span>
            <span class="label-char" style="--index: 2">a</span>
            <span class="label-char" style="--index: 3">s</span>
            <span class="label-char" style="--index: 4">w</span>
            <span class="label-char" style="--index: 5">o</span>
            <span class="label-char" style="--index: 6">r</span>
            <span class="label-char" style="--index: 7">d</span>
            <span class="label-char" style="--index: 8">&nbsp;</span>
            <span class="label-char" style="--index: 9">:</span>
          </label>
        </div>
        <br>
        <br>

        <div class="d-grid gap-2">
          <button class="btn login-btn" type="submit">Login</button>
          <a href="" style="color: white; text-align: right; margin-top: 15px;">Forgot Password?</a>
        </div>
      </form>
    </div>
  </div>

</div>