<% layout('/flash/flash') %>

<div class="sign-navbar">
  <div class="logo">
    <img src="/photos/Gemini_Generated_Image_bqkgnzbqkgnzbqkg-Picsart-BackgroundRemover.png" alt="" width="180px" height="70px">
  </div>
  <button type="button" class="btn btn-outline-light">Back To Home</button>
</div>

<main class="signup">
  <h1>Login</h1>
  <img src="/photos/Gemini_Generated_Image_4ypngu4ypngu4ypn-removebg-preview.png" alt="" width="500px" style="margin-bottom: 40px; margin: 0 auto;">
  <div class="inner">
    <form action="" method="POST" class="needs-validation" novalidate>
      <div class="col-md-3">
        <label for="inputCity" class="form-label">Enter Otp :</label>
        <input type="text" class="form-control" id="inputCity" placeholder="Enter Otp" name="otp" required>
        <div class="invalid-feedback">
          Please enter valid otp
        </div>
      </div>
            <div class="signup-btn">
        <button type="submit" class="btn btn-primary">Verify OTP</button>
      </div>
    </form>
  </div>
</main>